<a href="https://colab.research.google.com/github/vlvsvenkat/DWDM/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame({"Roll No":["AIML01","AIML02","AIML03"],"Name":["A.RAMU","B.RAJESH","B.SUBBU"]})
df

  Roll No      Name
0  AIML01    A.RAMU
1  AIML02  B.RAJESH
2  AIML03   B.SUBBU

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df.isna().any()

Id               False
SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [ ]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
df.shape

(150, 6)

In [ ]:
host_day=pd.read_csv("/content/drive/MyDrive/Samsung.csv")
host_day.head()

         Date    Open    High     Low   Close    Adj Close    Volume
0  2000-01-04  6000.0  6110.0  5660.0  6110.0  4651.737793  74195000
1  2000-01-05  5800.0  6060.0  5520.0  5580.0  4248.232422  74680000
2  2000-01-06  5750.0  5780.0  5580.0  5620.0  4278.686523  54390000
3  2000-01-07  5560.0  5670.0  5360.0  5540.0  4217.780273  40305000
4  2000-01-10  5600.0  5770.0  5580.0  5770.0  4392.884766  46880000

In [ ]:
host_day.shape

(5621, 7)

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/students_placement_data.csv")
df

    Roll No\tGender\tSection\tSSC Percentage\tinter_Diploma_percentage\tB.Tech_percentage\tBacklogs\tregistered_for_ Placement_Training\tplacement status
0          1\tM\tA\t87.3\t65.3\t40\t18\tNO\tNot placed
1              2\tF\tA\t89\t92.4\t21.2\t0\tyes\tPlaced
2             3\tF\tA\t67\t40.2\t\t13\tyes\tNot placed
3        4\tM\tA\t71\t70.4\t36.47\t17\tyes\tNot placed
4        5\tM\tA\t44\t65.5\t42.52\t17\tyes\tNot placed
..                                                 ...
112   113\tM\tB\t81.1\t78.6\t35.84\t16\tNO\tNot placed
113    114\tM\tB\t81.3\t85.12\t68.5\t0\tNO\tNot placed
114     115\tM\tB\t83.5\t89.9\t76.3\t0\tNO\tNot placed
115    116\tM\tB\t85.5\t90.63\t74.5\t0\tNO\tNot placed
116     117\tM\tB\t80\t83.33\t65.53\t0\tNO\tNot placed

[117 rows x 1 columns]

In [ ]:
df.head()

  Roll No\tGender\tSection\tSSC Percentage\tinter_Diploma_percentage\tB.Tech_percentage\tBacklogs\tregistered_for_ Placement_Training\tplacement status
0        1\tM\tA\t87.3\t65.3\t40\t18\tNO\tNot placed
1            2\tF\tA\t89\t92.4\t21.2\t0\tyes\tPlaced
2           3\tF\tA\t67\t40.2\t\t13\tyes\tNot placed
3      4\tM\tA\t71\t70.4\t36.47\t17\tyes\tNot placed
4      5\tM\tA\t44\t65.5\t42.52\t17\tyes\tNot placed

In [ ]:
df.isna().any()

Roll No\tGender\tSection\tSSC Percentage\tinter_Diploma_percentage\tB.Tech_percentage\tBacklogs\tregistered_for_ Placement_Training\tplacement status    False
dtype: bool

In [ ]:
df.describe()

       Roll No\tGender\tSection\tSSC Percentage\tinter_Diploma_percentage\tB.Tech_percentage\tBacklogs\tregistered_for_ Placement_Training\tplacement status
count                                                 117
unique                                                117
top           1\tM\tA\t87.3\t65.3\t40\t18\tNO\tNot placed
freq                                                    1

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/students_placement_data.csv")
df.head()

  Roll No\tGender\tSection\tSSC Percentage\tinter_Diploma_percentage\tB.Tech_percentage\tBacklogs\tregistered_for_ Placement_Training\tplacement status
0        1\tM\tA\t87.3\t65.3\t40\t18\tNO\tNot placed
1            2\tF\tA\t89\t92.4\t21.2\t0\tyes\tPlaced
2           3\tF\tA\t67\t40.2\t\t13\tyes\tNot placed
3      4\tM\tA\t71\t70.4\t36.47\t17\tyes\tNot placed
4      5\tM\tA\t44\t65.5\t42.52\t17\tyes\tNot placed

In [ ]:
df.isna().any()

Roll No\tGender\tSection\tSSC Percentage\tinter_Diploma_percentage\tB.Tech_percentage\tBacklogs\tregistered_for_ Placement_Training\tplacement status    False
dtype: bool

In [ ]:
df.describe()

       Roll No\tGender\tSection\tSSC Percentage\tinter_Diploma_percentage\tB.Tech_percentage\tBacklogs\tregistered_for_ Placement_Training\tplacement status
count                                                 117
unique                                                117
top           1\tM\tA\t87.3\t65.3\t40\t18\tNO\tNot placed
freq                                                    1

In [ ]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/students_placement_data.csv")
df.head()

In [ ]:
df.isna().any()

Roll No\tGender\tSection\tSSC Percentage\tinter_Diploma_percentage\tB.Tech_percentage\tBacklogs\tregistered_for_ Placement_Training\tplacement status    False
dtype: bool

In [ ]:
df.describe()

       Roll No\tGender\tSection\tSSC Percentage\tinter_Diploma_percentage\tB.Tech_percentage\tBacklogs\tregistered_for_ Placement_Training\tplacement status
count                                                 117
unique                                                117
top           1\tM\tA\t87.3\t65.3\t40\t18\tNO\tNot placed
freq                                                    1

In [ ]:
df["SSC Percentage"].mean()

In [ ]:
df["SSC Percentage"]=df["SSC Percentage"].fillna(df["SSC Percentage"].mean())

In [ ]:
df["SSC Percentage"].mean()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
x=df["SSC Percentage"]
y=df["inter_Diploma-percentage"]
plt.scatter(x, y)
plt.show()